<div class="footer">
    <a href="https://github.com/lisacopeland" class="social-icon">
      <fa-icon [icon]="githubIcon"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/lisa-copeland-484a7a5/" class="social-icon">
      <fa-icon [icon]="linkedinIcon"></fa-icon>
    </a>
    <a href="https://www.freecodecamp.org/lisacopeland" class="social-icon">
      <fa-icon [icon]="fccIcon"></fa-icon>
    </a>
    <a href="https://twitter.com/Lisacope1" class="social-icon">
    <fa-icon [icon]="twitterIcon"></fa-icon>
    </a>
    <div class="signature">Website by Lisa Copeland<sup style="font-size:12px;">TM</sup></div>
  </div>
