<div class="footer">
    <a href="https://www.github.com" class="social-icon">
      <fa-icon [icon]="githubIcon"></fa-icon>
    </a>
    <a href="https://www.linkedin.com" class="social-icon">
      <fa-icon [icon]="linkedinIcon"></fa-icon>
    </a>
    <a href="https://www.freecodecamp.org" class="social-icon">
      <fa-icon [icon]="fccIcon"></fa-icon>
    </a>
    <a href="https://www.twitter.com" class="social-icon">
    <fa-icon [icon]="twitterIcon"></fa-icon>
    </a>
    <div class="signature">Website by Lisa Copeland<sup style="font-size:12px;">TM</sup></div>
  </div>
