
.products {
  background-color: #eff3f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-y: scroll;
}



.product {
  display: flex;
  flex-direction: row;
  margin: 30px;
  padding: 16px;
  width: 300px;
  background-color:#414b64;
  box-shadow: 6px 6px 28px 0px rgba(0,0,0,0.75);
  color: white;
  border-radius: 7px;
}

.product-text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  justify-content: space-between;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
}

.product-description {
  font-size: 14px;
}

.snipcart-add-item {
  width: 115px;
  background-color: #fba11a;
  border: none;
  border-radius: 7px;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
